@font-face {
    font-family: AkzidenzGroteskBQ-Reg;
    src: url("fonts/AkzidenzGrotesk.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FaktPro-M;
    src: url("fonts/AkzidenzGroteskBold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: EuclidFlex;
    src: url("fonts/EuclidFlex-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MaisonNeueTRIAL;
    src: url("fonts/MaisonNeue-Book.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MaisonNeueTRIAL-Demi;
    src: url("fonts/MaisonNeueTRIAL-Demi.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MaisonNeueTRIAL-Black;
    src: url("fonts/MaisonNeueTRIAL-Black.otf");
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span {
    margin: 0px;
    padding: 0px;
}

html,
body {
    position: relative;
    height: 100%
}

body {
    margin: 0px;
    padding: 50px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapp {
    margin: 0px auto;
    width: 80%;
}

header {
    padding: 20px 0px;
}

.navigator-text img {
    margin: -10px 15px 0px 0px;
    float: left;
}

.navigator-text h1 {
    float: left;
    /*font-family: Circular;*/
    font-size: 20px;
}

.navigator-text small {
    text-align: left;
    /*font-family: Circular;*/
    font-size: 11px;
    color: #828d91;
}

.learn-text h1 {
    float: right;
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 22px;
    text-align: left;
    color: #592b9d;
}

.gradient-title h1 {
    background-image: linear-gradient(93deg, #3a229c, #eb569f);
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 62px;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-title {
    font-size: 62px;
}

.slide {
    position: relative;
}

.slide h1 {
    padding: 150px 0px 40px 0px;
}

.slide h2 {
    padding: 40px 0px;
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 32px;
    line-height: 1.5;
    text-align: left;
    color: #22104d;
}

.slide h3 {
    padding: 40px 0px;
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 22px;
    text-align: left;
    color: #592b9d;
}

.slide-img {
    position: absolute;
    top: 0px;
    width: 100%;
}

.pricipal-img {
    /*position: absolute;
    top: 100px;*/
    float: right;
    width: 700px;
    height: 750px;
    background-image: url(images/whiteboard.png);
    background-position: 25% center;
    /*background-size: cover;*/
    box-shadow: 0px 60px 100px -50px rgba(0, 0, 0, .3);
}

.section-title h1 {
    padding: 80px 0px 100px 0px;
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 12px;
    text-align: left;
}

.section-title span {
    color: #747474;
}


/*.gradient-line {
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, #8cdce5, #c9fbd2);
}*/

.our-proposal {
    margin-top: 50px;
}

.our-proposal p {
    padding: 40px 0px 100px 0px;
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 34px;
    line-height: 1.3;
}

.our-proposal p.second {
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 26px;
    line-height: 1.3;
    text-align: justify;
}

.our-proposal ul {
    width: 100%;
    text-align: center;
}

.our-proposal ul li {
    display: inline-block;
}


/*.our-proposal ul li.img-left {
    float: left;
}

.our-proposal ul li.img-center {
    float: inherit;
}

.our-proposal ul li.img-right {
    float: right;
}*/

.our-proposal-img {
    /*width: 350px;*/
    height: 390px;
}

.our-proposal-img.left {
    background-image: url(images/whiteboard2.png);
    background-position: right;
}

.our-proposal-img.center {
    margin: 0px auto;
    background-image: url(images/moodboard.png);
    background-position: center;
}

.our-proposal-img.right {
    float: right;
    background-image: url(images/workspace.png);
    background-position: left;
}

.deliverable p {
    margin-bottom: 100px;
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 34px;
    line-height: 1.41;
}

.deliverable p.second {
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 24px;
    line-height: 1.3;
}

.deliverable span {
    color: #989898;
}

.deliverable h1.gradient-title {
    font-size: 26px;
}

.deliverable p.block-text {
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 22px;
    line-height: 1.5;
}

.graphic {
    position: relative;
    padding-top: 250px;
    color: #fff;
}

.graphic-box {
    position: absolute;
    padding: 40px 0px;
    /*width: 450px;
    height: 500px;*/
    box-shadow: 0px 30px 70px rgba(0, 0, 0, .2);
}

.graphic-box .text {
    padding: 15px 40px;
}

.graphic-box p.leter::after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 90%;
}

.graphic-box h2 {
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 24px;
    line-height: 1.1;
}

.graphic-box p {
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 18px;
    line-height: 1.2;
}

.graphic-box img {
    padding: 30px 0px;
}

.graphic-box.map {
    top: 0px;
    /*right: 600px;*/
    background-image: linear-gradient(136deg, #4f5279, #272f50 60%, #23233f);
}

.graphic-box.plan {
    top: 100px;
    /*right: 0px;*/
    background-image: linear-gradient(139deg, #8773bf, #646b9f 40%, #525985 84%, #3b4269);
}

.gradient-background {
    width: 100%;
    height: 396px;
    background-image: linear-gradient(118deg, #e0d7ff, #fdd4e9);
}

.uses h1 {
    padding: 80px 0px 40px 0px;
    font-size: 26px;
    line-height: 1.7;
}

.block-text {
    margin: 20px 0px;
    padding: 0px 0px 0 20px;
    font-size: 22px;
    line-height: 1.5;
}

.border-line {
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#8cdce5), to(#c9fbd2)) 1 100%;
}

.process h2 {
    padding: 40px 0px 20px 0px;
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 32px;
    text-align: left;
}

.process h2 span {
    color: #e0d6df;
}

.process p {
    padding: 20px 0px;
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 22px;
    line-height: 1.2;
    text-align: left;
}

.navigator-users {
    margin: 50px auto;
    text-align: center;
}

.navigator-users h1 {
    padding: 50px 0px;
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 26px;
    line-height: 1.7;
}

.navigator-users ul li {
    padding: 20px 0px;
    list-style: none;
    display: inline-block;
}

.navigator-users img {
    /*margin-right: 40%;*/
}

.restore {
    padding: 80px 0px;
}

.gradient-background.restore h1 {
    padding: 20px 0px;
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 28px;
    text-align: center;
    color: #ffffff;
}

.gradient-background.restore h2 {
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 28px;
    text-align: center;
    color: #2a1f3c;
}

.contact-form {
    float: left;
    margin-top: 100px;
    padding: 40px 50px;
    /*width: 700px;*/
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 30px 70px rgba(0, 0, 0, .2);
}

.contact-form form {
    padding: 30px 0px;
}

.contact-form h2 {
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 24px;
}

.contact-form input,
.contact-form textarea {
    margin-top: 3px;
    padding: 15px 0px 20px 10px;
    border: none;
    color: #b6b3b6;
    border-bottom: solid 1px #f4eafa;
    transition: .3s all;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 16px;
    text-align: left;
    color: #dcd3db;
}

.contact-form input[type=submit] {
    margin-top: 20px;
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.contact-form input[type=submit]:hover {
    cursor: pointer;
}

.contact-form p,
.contact-form a {
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 12px;
    color: #9d859b;
}

.pro-list {
    float: right;
    margin-top: 100px;
    padding: 50px 80px;
    /*width: 500px;*/
    background-image: linear-gradient(134deg, #8773bf, #646b9f 40%, #525985 84%, #3b4269);
    box-shadow: 0px 30px 70px rgba(0, 0, 0, .2);
}

.pro-list ul li {
    margin: 20px 0px;
    font-size: 25px;
    color: #4cfbac;
}

.pro-list ul li p {
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
}

.gradient-background.restore {
    width: 100%;
    height: 534px;
    background-image: linear-gradient(116deg, #bdadf9, #d6b4e6 51%, #e8b9d9 97%, #e9bad8);
}

.services {
    padding: 350px 0px 100px 0px;
    text-align: center;
}

.services p {
    padding: 20px 0px;
    font-family: AkzidenzGroteskBQ-Reg;
    font-size: 16px;
}

.services span {
    color: #592b9d;
}

.social {
    padding: 40px 0px;
    color: #fff;
    background-color: #000;
}

.social h1 {
    padding: 20px 0px;
    float: left;
    text-align: center;
    font-family: EuclidFlex;
    font-size: 28px;
}

.social ul {
    padding: 20px 0px;
    float: right;
}

.social ul li {
    padding: 0px;
    font-family: MaisonNeueTRIAL;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2.2px;
    color: #696969;
}

.social ul li:before {
    float: left;
    content: '•';
    font-size: 40px;
}

.social ul li p {
    margin-top: -3px;
    font-size: 13px;
}

.social p {
    float: left;
    padding: 20px 0px;
    font-family: MaisonNeueTRIAL;
    font-size: 38px;
    line-height: 1.5;
    transition: .3s all;
}

.social ul li p:hover {
    margin-left: 15px;
    transition: .3s all;
}

.social a {
    color: #696969;
}

.social a:hover {
    color: #fff;
}

.our-team {
    color: #ffffff;
    background-color: #000;
}

.our-team-title {
    text-align: center;
}

.our-team h1 {
    margin-left: 4vw;
    padding: 20px 0px;
    font-family: MaisonNeueTRIAL-Black;
    font-size: 8vw;
    letter-spacing: 6vw;
    text-transform: uppercase;
    color: #222222;
}

.our-team ul {
    /*width: 100%;
    float: left;*/
}

.img-fluid {
    /*float: left;*/
    width: 100%;
}

.team-img {
    margin: 15px 0px;
    min-width: 100%;
    height: 300px;
    background-color: gray;
}

.our-team h2 {
    margin: 15px 0px;
    width: 100%;
    font-family: MaisonNeueTRIAL;
    font-size: 18px;
    font-weight: 500;
}

.our-team p {
    width: 100%;
    font-family: MaisonNeueTRIAL-Demi;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #696969;
}

.our-offices {
    padding: 50px 0px;
    color: #fff;
    background-color: #000;
}

.our-offices h1.section-title {
    padding: 40px 15px;
    font-family: MaisonNeueTRIAL-Demi;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #333333;
}

ul.location {
    padding: 20px 0px;
    float: left;
}

ul.location li {
    float: left;
    list-style: none;
}

.location h1 {
    font-family: MaisonNeueTRIAL;
    font-size: 58px;
    font-weight: bold;
    letter-spacing: 2px;
}

.location h2 {
    font-family: MaisonNeueTRIAL;
    font-size: 20px;
    font-weight: 500;
}

.location p {
    padding: 20px 0px;
    font-family: MaisonNeueTRIAL;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #696969;
}

.separator {
    float: left;
}

.separator hr {
    border-bottom: solid 1px #222222;
}

.contact-mail li {
    /*width: 100%;*/
    list-style: none;
    display: inline-block;
    /*font-family: MaisonNeue;*/
    font-size: 18px;
}

.contact-mail li:before {
    float: left;
    content: '•';
    margin-right: 5px;
    font-size: 30px;
}

.contact-mail p {
    float: left;
    margin-top: 8px;
    transition: .3s all;
}

.contact-mail p:hover {
    margin-left: 15px;
    transition: .3s all;
}

.contact-mail a {
    color: #fff;
}

.grill-gide table {
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 10%;
    bottom: 0px;
    width: 80%;
    height: 100%;
}

.grill-gide table td {
    /*position: relative;*/
    border: 1px solid rgba(204, 204, 204, .3);
    border-width: 0px 1px 0px 1px;
}

@media screen and (max-width: 768px) {
    .slide-img {
        position: relative;
    }
    .float-left {
        float: inherit !important;
    }
    li.float-left {
        padding: 0px;
    }
    .graphic-box.plan {
        top: 550px;
    }
    .gradient-background {
        height: 796px;
    }
    .social h1 {
        text-align: left;
    }
    .social ul li {
        margin: -15px 0px;
    }
}